@model List<Alpha.Models.Project>
@{
    Layout = "_Layout";
    ViewBag.Title = "Project";
}

<section class="text-center py-5">
    <br />
    <br />
    <h2 class="mb-4 indigo-text font-weight-bold">Liste des projets</h2> <br />
    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="font-weight-bold">Projet</th>
                    <th class="font-weight-bold">Prénom</th>
                    <th class="font-weight-bold">Nom</th>
                    <th class="font-weight-bold">Adresse</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var p in Model)
                {
                    <tr>
                        <td>@p.ProjectName</td>
                        <td>@p.Profile.FirstName</td>
                        <td>@p.Profile.LastName</td>
                        <td>@p.Profile.Adress</td>
                    </tr>
                }
            </tbody>
        </table>
        </div>

</section>

<section class="text-center py-5">
    <div class="container">
        <div class="row-test">
            <h2 class="mb-4 indigo-text font-weight-bold">Projets</h2> <br />
            <div class="col-md-1"></div>
            <div class="col-md-12">
                <div class="row-test">
                    <div class="btn-group btn-group">
                        <a href="#myProject" class="btn btn-primary">Modifier le projet</a>
                        <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Contacter votre Référent Alpha</a>
                        <div id="myModal" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Modal Header</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <textarea class=form-control rows="25" id="myProject"></textarea>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal" alignment="left">Annuler</button>
                                        <button type="button" class="btn btn-default" action="#" data-dismiss="modal">Envoyer</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="#chat" class="btn btn-primary">Consulter les messages liés à votre projet</a>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                Newsletter <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Editer une nouvelle Newsletter</a></li>
                                <li><a href="#">Consulter vos anciennes Newsletter</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                    <section>
                        <div class="form-group">
                            <div class="form-group shadow-textarea">
                                <label for="exampleFormControlTextarea6">Détaillez votre projet</label>
                                <textarea class="form-control z-depth-1" id="exampleFormControlTextarea6" rows="3" placeholder="Votre commentaire..."></textarea>
                            </div>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="70"
                                     aria-valuemin="0" aria-valuemax="100" style="width:70%">
                                    <span class="sr-only">70% Complete</span>
                                </div>
                            </div>
                        </div>
                    </section>
                    <div class="col-md-1"></div>
                    <div id="chat" class="row-test">
                        <h2>Commentaires liés au projet</h2>
                        <p>Media objects can also be nested (a media object inside a media object):</p><br>
                        <div class="media">
                            <div class="media-left">
                                <img src="~/img_avatar1.png" class="media-object" style="width:45px">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Gros riche sympa <small><i>Posted on February 19, 2016</i></small></h4>
                                <p>Vous faites du bon boulot ! Je vous soutiens.</p>
                                <!-- Nested media object -->
                                <div class="media">
                                    <div class="media-left">
                                        <img src="~/img_avatar2.png" class="media-object" style="width:45px">
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading">John Doe <small><i>Posted on February 19, 2016</i></small></h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                        <!-- Nested media object -->
                                        <div class="media">
                                            <div class="media-left">
                                                <img src="~/img_avatar3.png" class="media-object" style="width:45px">
                                            </div>
                                            <div class="media-body">
                                                <h4 class="media-heading">John Doe <small><i>Posted on February 19, 2016</i></small></h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>