@model List<Alpha.Models.Profile>
@{
    Layout = "_Layout";
    ViewBag.Title = "Accueil";
}

<div class="page-header header-filter clear-filter purple-filter" data-parallax="true" style="background-image: url('img/crowdfunding3.jpg'); background-size: cover;">

    <div class="container">

        <div class="container">

            <div class="row">

                <div class="col-md-8  pb-5 mb-5 ml-auto mr-auto">

                    <div class="brand text-center text-white">

                        <h1 class="display-2">Alpha-Don</h1>

                        <hr class="mb-4 white" style="width:80%" />

                        <h3 class="pb-2">Bienvenue ! <br />
                        Qui que vous soyez, vous pouvez donner ce que vous voulez et créer vos projets. En plus on peut vous aider ! </h3>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>

    @*<h2>Striped Rows</h2>*@

    @*<table class="table table-striped">
            <thead>
                <tr>
                    <th>LastName</th>
                    <th>FirstName</th>
                </tr>
            </thead>
            <tbody>


                @foreach (var profile in Model)
                {
                    <tr>
                        <td>@profile.LastName</td>
                        <td>@profile.FirstName</td>
                    </tr>
                }

            </tbody>
        </table>*@
