@model List<Alpha.Models.Profile>
@{
    Layout = "_Layout";
    ViewBag.Title = "Accueil";
}

<section class="page-section portfolio mt-5">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    

    <div class="container">

        <div class="row justify-content-center">

            <div class="col-md-8  pb-5 mb-5 ml-auto mr-auto">

                <div class="brand text-center text-white">

                    <h1 class="display-2">Alpha-Don</h1>

                    <hr class="mb-4 white" style="width:80%" />

                    <h3 class="pb-2">
                        Bienvenue ! <br />
                        Qui que vous soyez, vous pouvez donner ce que vous voulez et créer vos projets. En plus on peut vous aider !
                    </h3>

                </div>

            </div>

        </div>

    </div>

</section>