@model Alpha.Models.Collect
    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Test</title>
    </head>
    <body>

            <br />
            <br />
            <h3>
                Vous êtes sur le calcul des dons

            </h3>
            <br />
            <br />
</body>
</html>

